.form-container{
    width: 600px;
    height: 550px;
    margin:  auto;
    margin-top: 15px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.form-title{
    font-size: 35px;
    font-weight: 400;
    color: #2a414f;
    
}
.input-group{
    margin-bottom: 20px;
}
.input-group label{
    display: block;
    margin-left: 5px;

}
.input-group input{
    width: 400px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    height: 55px;
    font-size: 24px;
}
.input-group input:focus{
    
        outline: none ;
        border:1px solid #2a414f;
        box-shadow: 0 0 10px #719ECE;
      
}
.form-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(255,153,0,0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.form-submit:hover{
    background-color: rgba(255,153,0,0.8);
}
.form-link{
    color: #FF9900;
    text-decoration: s;
}
hr {
    border: none;
    border-top: 1px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
hr:after {
    background: #fff;
    content: 'or';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
